*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.con{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background:linear-gradient(to right, black,gray,white);
}

.main{
  height: 200px;
  width: 300px;
  border-radius: 9px;
  background-color: rgb(186, 186, 186);
  box-shadow: 0px 0px 6px #666;
}

.main > .top {
  padding: 10px;
}

.main > .top > button{
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
  width: 30%;
  background-color: orange;
  border: none;
  color: white;
  &:hover{
    background-color: rgb(232, 181, 85);
  }
}

.main >.top >  input{
  padding: 10px;
  border-radius: 7px;
  width: 66% ;
  border: none;
}

.main > .info{
  margin-top: 15px;
  text-align: center;
  color: white;
}

.main > .info > h2{
  letter-spacing: 1px;
  margin-bottom: 3px;
}

.main > .info > h1{
  letter-spacing: 1px;
  margin-bottom: 3px;
}

.main > .info > h3{
  letter-spacing: 1px;
  margin-bottom: 3px;
}

.main > p{
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  color: red;
  font-size: 20px;
}