

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav{
  height: 70px;
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav > .logo{
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 30px;
  cursor: pointer;
}

.nav > .logo >h2 > span{
  color: black;
}

.nav > .right > ul{
  display: flex;
  list-style: none;
  margin-right: 70px;
}

.nav > .right > ul > li{
  font-size: 22px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-right: 20px;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.nav > .right > ul > li:hover{
  transform: scale(.8);
}

.section1{
  height: 250px;
  background-color: rgb(57, 174, 135);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 3px 3px 4px rgb(24, 104, 77);
}

.section1 > h1{
  margin-bottom: 15px;
  font-size: 40px;
}


.section2{
  display: flex;
  background-color: rgb(41, 125, 97);
  height: 450px;
  justify-content: space-evenly;
  align-items: center;
}

.boxx{
  height: 300px;
  width: 350px;
  box-shadow: 0 2px 6px rgb(13, 59, 44);
  border-radius: 20px;
  transition: all 0.3s ease-in;
  background-color: white
  ;

  &:hover{
    transform: translate(-10px,-10px);
  }
}

.boxx > img{
  height: 200px;
  width: 100%;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.boxx > .pro{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer{
  background-color: black;
  color: white;
  text-align: center;
}

