*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}

.main > button{
  padding: 10px 25px;
}